[submodule "node-example"]
	path = node-example
	url = https://github.com/amazeeio/node-example.git
	branch = main
[submodule "drupal-solr"]
	path = drupal-solr
	url = https://github.com/lagoon-examples/drupal-solr.git
	branch = main
[submodule "drupal-postgres"]
	path = drupal-postgres
	url = https://github.com/lagoon-examples/drupal-postgres.git
	branch = main
[submodule "wordpress-base"]
	path = wordpress-base
	url = https://github.com/lagoon-examples/wordpress-base.git
	branch = main
[submodule "drupal-base"]
	path = drupal-base
	url = https://github.com/lagoon-examples/drupal-base.git
	branch = main
[submodule "drupal-opensearch"]
	path = drupal-opensearch
	url = https://github.com/lagoon-examples/drupal-opensearch.git
	branch = main
[submodule "drupal-cachebackend"]
	path = drupal-cachebackend
	url = https://github.com/lagoon-examples/drupal-cachebackend.git
	branch = main
[submodule "drupalnext-base"]
	path = drupalnext-base
	url = https://github.com/lagoon-examples/drupalnext-base.git
	branch = main
[submodule "drupal-10-base"]
	path = drupal-10-base
	url = https://github.com/lagoon-examples/drupal-10-base.git
	branch = main
