[submodule "silverstripe-simple"]
	path = silverstripe-simple
	url = https://github.com/amazeeio/silverstripe-example.git
	branch = master
[submodule "silverstripe-advanced"]
	path = silverstripe-advanced
	url = https://github.com/amazeeio/silverstripe-example.git
	branch = redis_solr
[submodule "node-example"]
	path = node-example
	url = https://github.com/amazeeio/node-example.git
	branch = main
[submodule "drupal9-base"]
	path = drupal9-base
	url = https://github.com/lagoon-examples/drupal9-base.git
	branch = main
[submodule "drupal9-solr"]
	path = drupal9-solr
	url = https://github.com/lagoon-examples/drupal9-solr.git
	branch = main
[submodule "drupal9-postgres"]
	path = drupal9-postgres
	url = https://github.com/lagoon-examples/drupal9-postgres.git
	branch = main
[submodule "drupal9-elastic"]
	path = drupal9-elastic
	url = https://github.com/lagoon-examples/drupal9-elastic.git
	branch = main
[submodule "drupal9-full"]
	path = drupal9-full
	url = https://github.com/lagoon-examples/drupal9-full.git
	branch = main
[submodule "drupal10-base"]
	path = drupal10-base
	url = https://github.com/lagoon-examples/drupal10-base.git
	branch = main
[submodule "drupal9-opensearch"]
	path = drupal9-opensearch
	url = https://github.com/lagoon-examples/drupal9-elastic.git
	branch = opensearch
[submodule "drupal9-varnish"]
	path = drupal9-varnish
	url = https://github.com/lagoon-examples/drupal9-varnish.git
	branch = main
[submodule "wordpress-base"]
	path = wordpress-base
	url = https://github.com/lagoon-examples/wordpress-base.git
	branch = main
