name: Drupal test routine

on:
  push:
    branches:
      - 'main'
      - 'new_repos'
  pull_request:
    branches:
      - 'main'

jobs:
  test-suite:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: "0"
    - name: Report versions
      run: |
        docker version
        node -v
        yarn -v
    - name: Update git submodules
      run: |
        git submodule sync
        git submodule update --init
    - name: Install test harness
      run: |
        yarn install
    - name: Run simple docker-compose tests
      run: |
        yarn test:simple
    - name: Run advanced docker-compose tests
      run: |
        yarn test:advanced
